Repository hidoo/styleunit: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, eslint, stylelint --allow-empty-input --fix, prettier --write

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
  test/mixin/box/apply-aspect-ratio.test.js
  test/mixin/box/apply-clearfix.test.js
  test/mixin/box/initialize.test.js
  test/mixin/font/apply-feature-settings.test.js
  test/mixin/font/apply-smoothing.test.js
  test/mixin/font/initialize.test.js
  test/mixin/pict/apply-flexible-size.test.js
  test/mixin/table/initialize-column.test.js
  test/mixin/table/initialize.test.js
  test/mixin/text/apply-line-truncate.test.js
  test/mixin/text/initialize.test.js
  test/plugin/spritesheet/mixin/index.test.js
  test/util/eachTestCases.js
Due: eslint, prettier --write

ci(github): add test workflow
  .github/workflows/test.yml
Due: none

chore(deps): update dependencies
  config.js
  package.json
  pnpm-lock.yaml
  task/styleguide.js
Due: eslint, prettier --write

chore(eslint): migrate to flat config
  .eslintignore
  .eslintrc.json
  eslint.config.js
Due: eslint, prettier --write

chore(stylelint): update config
  .stylelintrc.json
Due: prettier --write

style: fix stylelint issues
  example/src/scss/unit-plugin-spritesheet/unit/text/_type.scss
  example/src/scss/unit-plugin-spritesheet/unit/toggle/_check.scss
  example/src/scss/unit-plugin-spritesheet/unit/toggle/_radio.scss
  example/src/scss/unit/main.scss
  src/lib/function/color/_foreground.scss
  src/lib/mixin/box/_initialize.scss
  src/lib/mixin/size/_define-by-direction-group.scss
  src/lib/mixin/table/_initialize-column.scss
  src/lib/mixin/table/_initialize.scss
  src/lib/mixin/text/_apply-line-truncate.scss
  src/unit/document/_core.scss
  src/unit/document/_theme.scss
  src/unit/input/_core.scss
  src/unit/input/_theme.scss
  src/unit/pict/_copy-protect.scss
  src/unit/select/_core.scss
  src/unit/select/_theme.scss
  src/unit/table/_core.scss
  src/unit/toggle/_check.scss
  src/unit/toggle/_radio.scss
  test/mixin/font/apply-family.test.js
  test/mixin/table/initialize-column.test.js
Due: eslint, stylelint --allow-empty-input --fix, prettier --write

fix(github): set environment variable NYC_CONFIG for workaround to avoid ERR_REQUIRE_ASYNC_MODULE
  .github/workflows/test.yml
Due: none

chore(deps): update @hidoo/kss-builder to version 1.0.2 and use it
  package.json
  pnpm-lock.yaml
  task/styleguide.js
Due: eslint, prettier --write

chore(deps): update gulp-project packages to version 1.0.0-alpha.3
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(package): add exports field to import via NodePackageImporter
  .gitignore
  README.md
  package.json
  test/fixture/node_modules/@hidoo/unit/package.json
  test/fixture/node_modules/@hidoo/unit/src/index.scss
  test/fixture/node_modules/@hidoo/unit/src/lib/_index.scss
  test/fixture/node_modules/@hidoo/unit/src/lib/function/_index.scss
  test/fixture/node_modules/@hidoo/unit/src/lib/mixin/_index.scss
  test/fixture/node_modules/@hidoo/unit/src/plugin/foo/_index.scss
  test/fixture/node_modules/@hidoo/unit/src/settings/_index.scss
  test/fixture/node_modules/@hidoo/unit/src/unit/_index.scss
  test/fixture/node_modules/@hidoo/unit/src/unit/buz/_index.scss
  test/fixture/node_modules/@hidoo/unit/src/unit/buz/_modifier.scss
  test/fixture/node_modules/@hidoo/unit/src/util/_index.scss
  test/fixture/node_modules/@hidoo/unit/src/util/_modifier.scss
  test/index.test.js
Due: eslint, stylelint --allow-empty-input --fix, prettier --write

chore: update examples
  example/src/scss/unit-plugin-spritesheet/sprite/_check-image.scss
  example/src/scss/unit-plugin-spritesheet/sprite/_check-svg.scss
  example/src/scss/unit-plugin-spritesheet/sprite/_icon-image.scss
  example/src/scss/unit-plugin-spritesheet/sprite/_icon-svg.scss
  example/src/scss/unit-plugin-spritesheet/sprite/_radio-image.scss
  example/src/scss/unit-plugin-spritesheet/sprite/_radio-svg.scss
  example/src/scss/unit-plugin-spritesheet/sprite/_text-image.scss
  example/src/scss/unit-plugin-spritesheet/sprite/_text-svg.scss
Due: stylelint --allow-empty-input --fix, prettier --write

test: add test for mixin.media
  test/mixin/media.test.js
Due: eslint, prettier --write

fix: change mixin.on-print to be deprecated
  src/lib/mixin/_on-print.scss
Due: stylelint --allow-empty-input --fix, prettier --write

chore: tweaks test:unit task
  package.json
Due: prettier --write

chore: rename package name to styleunit
  README.md
  package.json
  src/plugin/spritesheet/README.md
  test/fixture/node_modules/@hidoo/styleunit/package.json
  test/fixture/node_modules/@hidoo/styleunit/src/index.scss
  test/fixture/node_modules/@hidoo/styleunit/src/lib/_index.scss
  test/fixture/node_modules/@hidoo/styleunit/src/lib/function/_index.scss
  test/fixture/node_modules/@hidoo/styleunit/src/lib/mixin/_index.scss
  test/fixture/node_modules/@hidoo/styleunit/src/plugin/foo/_index.scss
  test/fixture/node_modules/@hidoo/styleunit/src/settings/_index.scss
  test/fixture/node_modules/@hidoo/styleunit/src/unit/_index.scss
  test/fixture/node_modules/@hidoo/styleunit/src/unit/buz/_index.scss
  test/fixture/node_modules/@hidoo/styleunit/src/unit/buz/_modifier.scss
  test/fixture/node_modules/@hidoo/styleunit/src/util/_index.scss
  test/fixture/node_modules/@hidoo/styleunit/src/util/_modifier.scss
  test/index.test.js
Due: eslint, stylelint --allow-empty-input --fix, prettier --write

docs: update examples and build settings
  README.md
  config.js
  example/src/scss/main.scss
  example/src/scss/plugin/spritesheet/main.scss
  example/src/scss/plugin/spritesheet/sprite/_check-image.scss
  example/src/scss/plugin/spritesheet/sprite/_check-svg.scss
  example/src/scss/plugin/spritesheet/sprite/_icon-image.scss
  example/src/scss/plugin/spritesheet/sprite/_icon-svg.scss
  example/src/scss/plugin/spritesheet/sprite/_radio-image.scss
  example/src/scss/plugin/spritesheet/sprite/_radio-svg.scss
  example/src/scss/plugin/spritesheet/sprite/_text-image.scss
  example/src/scss/plugin/spritesheet/sprite/_text-svg.scss
  example/src/scss/plugin/spritesheet/unit/icon/_index.scss
  example/src/scss/plugin/spritesheet/unit/icon/_type.scss
  example/src/scss/plugin/spritesheet/unit/text/_index.scss
  example/src/scss/plugin/spritesheet/unit/text/_type.scss
  example/src/scss/plugin/spritesheet/unit/toggle/_check.scss
  example/src/scss/plugin/spritesheet/unit/toggle/_index.scss
  example/src/scss/plugin/spritesheet/unit/toggle/_radio.scss
  example/src/scss/unit-plugin-spritesheet/unit/icon/_index.scss
  example/src/scss/unit-plugin-spritesheet/unit/text/_index.scss
  example/src/scss/unit-plugin-spritesheet/unit/toggle/_index.scss
  example/src/scss/unit/main.scss
  src/plugin/spritesheet/README.md
  task/css.js
  task/sprite.js
  task/styleguide.js
Due: eslint, stylelint --allow-empty-input --fix, prettier --write

ci(github): add a workflow to deploy github page
  .github/workflows/deploy-gh-pages.yml
Due: none

docs: add test status badge
  README.md
Due: prettier --write

chore(renovate): configure
  renovate.json
Due: prettier --write

chore(deps): add conventional-changelog-cli
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(release): publish 1.0.0-alpha.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(package): add boostrap.scss to exports field
  package.json
  test/fixture/node_modules/@hidoo/styleunit/package.json
  test/fixture/node_modules/@hidoo/styleunit/src/_bootstrap.scss
  test/index.test.js
Due: eslint, stylelint --allow-empty-input --fix, prettier --write

docs: fix examples
  task/styleguide.js
Due: eslint, prettier --write

chore: delete intermediate scss files for sprite sheets
  .gitignore
  example/src/scss/plugin/spritesheet/sprite/.gitkeep
  example/src/scss/plugin/spritesheet/sprite/_check-image.scss
  example/src/scss/plugin/spritesheet/sprite/_check-svg.scss
  example/src/scss/plugin/spritesheet/sprite/_icon-image.scss
  example/src/scss/plugin/spritesheet/sprite/_icon-svg.scss
  example/src/scss/plugin/spritesheet/sprite/_radio-image.scss
  example/src/scss/plugin/spritesheet/sprite/_radio-svg.scss
  example/src/scss/plugin/spritesheet/sprite/_text-image.scss
  example/src/scss/plugin/spritesheet/sprite/_text-svg.scss
Due: stylelint --allow-empty-input --fix, prettier --write

chore(release): publish 1.0.0-alpha.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix(util): fix font-size class name on breakpoints
  src/util/_font-size.scss
Due: stylelint --allow-empty-input --fix, prettier --write

chore(deps): update @hidoo/kss-builder to v1.1.0
  package.json
  pnpm-lock.yaml
  task/styleguide.js
Due: eslint, prettier --write

chore(release): publish 1.0.0-alpha.2
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update styleguide comments for utilities
  src/util/_border.scss
  src/util/_box-sizing.scss
  src/util/_clear.scss
  src/util/_float.scss
  src/util/_font-family.scss
  src/util/_font-size.scss
  src/util/_font-weight.scss
  src/util/_height.scss
  src/util/_hidden.scss
  src/util/_margin.scss
  src/util/_padding.scss
  src/util/_position.scss
  src/util/_vertical-align.scss
  src/util/_width.scss
  src/util/_z-index.scss
Due: stylelint --allow-empty-input --fix, prettier --write

docs: fix usage in README
  README.md
Due: prettier --write

fix(settings): change default settings.$pkg value to "su"
  src/settings/_index.scss
  src/util/_box-sizing.scss
Due: stylelint --allow-empty-input --fix, prettier --write

feat(settings): update default font family and export font family presets as custom properties
  src/_bootstrap.scss
  src/settings/_font.scss
  src/util/_font-family.scss
  test/mixin/font/apply-family.test.js
Due: eslint, stylelint --allow-empty-input --fix, prettier --write

feat(settings): update font size presets
  src/_bootstrap.scss
  src/lib/function/font/_size.scss
  src/settings/_font.scss
  test/function/font/size.test.js
  test/mixin/font/apply-size.test.js
Due: eslint, stylelint --allow-empty-input --fix, prettier --write

docs: update api section in README
  README.md
Due: prettier --write

fix(bootstrap): change to not export query type breakpoints as custom properties
  src/_bootstrap.scss
Due: stylelint --allow-empty-input --fix, prettier --write

chore(release): publish 1.0.0-alpha.3
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  eslint: any of: **/*.js
  stylelint --allow-empty-input --fix: any of: **/*.{css,scss}
  prettier --write: any of: **/*.{css,scss,js,json,md}
