Repository hidoo/styleunit: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, eslint, stylelint --allow-empty-input --fix, prettier --write

.lintstagedrc.json:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "**/*.js": ["eslint"],
  "**/*.{css,scss}": ["stylelint --allow-empty-input --fix"],
  "**/*.{css,scss,js,json,md}": ["prettier --write"]
}

feat(mixin): add breakpoints option to @mixin media
  src/lib/mixin/_media.scss
  test/mixin/media.test.js
Due: eslint, stylelint --allow-empty-input --fix, prettier --write

feat(mixin): add @mixin by-breakpoints
  src/lib/mixin/_by-breakpoints.scss
  src/lib/mixin/_index.scss
  test/mixin/by-breakpoints.test.js
Due: eslint, stylelint --allow-empty-input --fix, prettier --write

docs: update api section in README
  README.md
  src/lib/mixin/_by-breakpoints.scss
  src/lib/mixin/_media.scss
Due: stylelint --allow-empty-input --fix, prettier --write

fix: change breakpont modifiers to build by @mixin by-breakpoints
  src/unit/flex-grid/_break.scss
  src/unit/table-grid/_break.scss
  src/util/_border.scss
  src/util/_box-sizing.scss
  src/util/_clear.scss
  src/util/_float.scss
  src/util/_font-family.scss
  src/util/_font-size.scss
  src/util/_font-weight.scss
  src/util/_height.scss
  src/util/_hidden.scss
  src/util/_margin.scss
  src/util/_padding.scss
  src/util/_position.scss
  src/util/_vertical-align.scss
  src/util/_width.scss
  src/util/_z-index.scss
Due: stylelint --allow-empty-input --fix, prettier --write

refactor: use local vars "$pkg" instead of module var "$_pkg";
  src/_bootstrap.scss
  src/lib/mixin/font/_apply-family.scss
  src/lib/mixin/font/_apply-size.scss
  src/unit/box/_theme.scss
  src/unit/button/_core.scss
  src/unit/button/_theme.scss
  src/unit/document/_core.scss
  src/unit/document/_theme.scss
  src/unit/icon/_core.scss
  src/unit/icon/_type.scss
  src/unit/input/_core.scss
  src/unit/input/_theme.scss
  src/unit/pict/_align.scss
  src/unit/pict/_aspect-ratio.scss
  src/unit/pict/_copy-protect.scss
  src/unit/pict/_core.scss
  src/unit/pict/_fit.scss
  src/unit/select/_core.scss
  src/unit/select/_theme.scss
  src/unit/table/_core.scss
  src/unit/table/_theme.scss
  src/unit/text/_core.scss
  src/unit/text/_line-height.scss
  src/unit/text/_link-theme.scss
  src/unit/text/_theme.scss
  src/unit/text/_weight.scss
  src/unit/toggle/_check.scss
  src/unit/toggle/_radio.scss
Due: stylelint --allow-empty-input --fix, prettier --write

fix(unit): set weight module of text unit to be deprecated
  src/unit/text/_weight.scss
Due: stylelint --allow-empty-input --fix, prettier --write

chore(unit): add deprecation warning to table grid unit
  src/unit/table-grid/_core.scss
Due: stylelint --allow-empty-input --fix, prettier --write

chore(release): publish 1.0.0-alpha.4
  CHANGELOG.md
  package.json
Due: prettier --write

fix(settings): fix light value in the font weight presets
  README.md
  src/settings/_font.scss
Due: stylelint --allow-empty-input --fix, prettier --write

feat(mixin): update mixin by-breakpoints to support selectors other than class selector
  README.md
  src/lib/mixin/_by-breakpoints.scss
  test/mixin/by-breakpoints.test.js
Due: eslint, stylelint --allow-empty-input --fix, prettier --write

chore(release): publish 1.0.0-alpha.5
  CHANGELOG.md
  package.json
Due: prettier --write

feat(plugin): export some functions and mixins in plugin/spritesheet
  src/plugin/spritesheet/lib/_index.scss
Due: stylelint --allow-empty-input --fix, prettier --write

refactor(unit): move base settings into bootstrap
  src/_bootstrap.scss
  src/settings/_index.scss
  src/unit/box/_core.scss
  src/unit/button/_core.scss
  src/unit/button/_theme.scss
  src/unit/document/_core.scss
  src/unit/flex-grid/_core.scss
  src/unit/icon/_core.scss
  src/unit/input/_core.scss
  src/unit/input/_theme.scss
  src/unit/list/_core.scss
  src/unit/pict/_core.scss
  src/unit/select/_core.scss
  src/unit/table-grid/_core.scss
  src/unit/table/_core.scss
  src/unit/table/_theme.scss
  src/unit/text/_core.scss
  src/unit/toggle/_check.scss
  src/unit/toggle/_core.scss
  src/unit/toggle/_radio.scss
Due: stylelint --allow-empty-input --fix, prettier --write

chore(release): publish 1.0.0-alpha.6
  CHANGELOG.md
  package.json
Due: prettier --write

feat(settings): add default setting for font-feature-settings
  src/_bootstrap.scss
  src/settings/_font.scss
Due: stylelint --allow-empty-input --fix, prettier --write

feat(unit): update base unit settings
  src/_bootstrap.scss
  src/unit/flex-grid/_core.scss
  src/unit/icon/_core.scss
  src/unit/icon/_direction.scss
Due: stylelint --allow-empty-input --fix, prettier --write

chore(release): publish 1.0.0-alpha.7
  CHANGELOG.md
  package.json
Due: prettier --write

fix(settings): fix default setting for font-feature-settings
  src/settings/_font.scss
Due: stylelint --allow-empty-input --fix, prettier --write

chore(release): publish 1.0.0-alpha.8
  CHANGELOG.md
  package.json
Due: prettier --write

revert(unit): remove pointer-events custom property from base settings
  src/_bootstrap.scss
Due: stylelint --allow-empty-input --fix, prettier --write

chore(release): publish 1.0.0-alpha.9
  CHANGELOG.md
  package.json
Due: prettier --write

fix(unit): fix selector scope for document unit
  src/unit/document/_core.scss
Due: stylelint --allow-empty-input --fix, prettier --write

fix(unit): fix document unit to adjust selector scope
  src/_bootstrap.scss
  src/unit/document/_core.scss
Due: stylelint --allow-empty-input --fix, prettier --write

fix(unit): fix fit modifiers of pict unit
  src/unit/pict/_fit.scss
Due: stylelint --allow-empty-input --fix, prettier --write

feat(util): add display utilities
  src/util/_box-sizing.scss
  src/util/_display.scss
  src/util/_index.scss
Due: stylelint --allow-empty-input --fix, prettier --write

fix(unit): change pict object-fit default value to fill
  src/unit/pict/_core.scss
Due: stylelint --allow-empty-input --fix, prettier --write

chore(release): publish 1.0.0-alpha.10
  CHANGELOG.md
  package.json
Due: prettier --write
